build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

.architectury-transformer/

src_decompiled/
src/main/resources/assets/observable/lang/en_us.json
src/main/resources/assets/observable/lang/ru_ru.json
