build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
*.bak

.architectury-transformer/
.gradle-cache/

common/src/main/resources/icon_old.png

# Local Tools and Context
tools/
docs/
scripts/
